@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
}


#headerTitle{
  width:100%;
  height:50px;
  padding-top:10px;
  background-color: violet;
  color:black;
  font-weight: 700;
  font-size: 30px;
  justify-content: center;
  text-align:center;
}

#allButtons{

  text-align: centre;
  margin-left: 300px;
  justify-content: space-evenly;
  

}

.categoryButton{
  width:150px;
  height:50px;
  padding:5px 20px;
  font-size: 15px;
  background-color:white;
  border-radius: 10px;
  margin-left:10px;
  border:1px white;
}

.categoryButton:hover{
  cursor:pointer;
}


#allPhotos{
  display:flex;
  flex-wrap: wrap;
  padding: 25px;
  justify-content: space-around;

}

.img{
  display: flex;
  margin-top: 20px;
  width:1%;
  height:1%;

}
.painting{
  display: flex;
  justify-content: space-between;

}